// Your custom SCSS should be written here...

// Typography
h1 { @include font-size($xlarge);}
h2 { @include font-size($larger);}
h3 { @include font-size($large);}
h4 { @include font-size($med);}
h5 { @include font-size($norm);}

@include respond(all-phones) {
    h1 { @include font-size($xlarge);}
    h2 { @include font-size($larger);}
}

#dokuwiki__content {
    p, td, th, .fn, a {
        font-family: $font-content;
    }

    sub, sup {
        font-size: $small;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }
    sup {
        top: -0.5em;
    }
    sub {
        bottom: -0.25em;
    }

    .fn {
        font-size: $small;
    }

    pre, code, kbd, samp {
        font-family: $font-monospace;
    }
    code, kbd, samp {
        word-break: break-all;
    }
    pre { 
        font-size: $small;
        padding: .5em 1em;
        margin-bottom: $base-line-height / 2;
        background-color: $pre-bg-color;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

hr {
    border: none;
    height: 1px;
    background-color: $horizontal-rule-color;
}

// Sidebar
#dokuwiki__sidebar {
    h4 { font-size: $med; }
    div, h5, p, a, li {
        font-size: $small;
        line-height: $norm;
    }
    hr {
        margin: 6px 0 6px;
    }
}

// TOC
#dw__toc {
    float: left;
    margin: 0;
    width: 100%;
    background-color: inherit;
    color: inherit;
    &.active {
        display:none;
    }
    h3 {
        display:none; //Don't use the original DW heading
    }
    ul {
        margin: 0 .5em .5em 0;
    }
    @include respond(all-phones) {
        display: none;
        &.active {
            display: inherit;
        }
    }
}

// Status Bar and Page Info
#status__bar, #page__info {
    font-size: $small;
    margin-bottom: 0.5em;
}

// Visibility

.hide-on-phones {
    @include hidden(portrait-tablets);
    @include visible(desktop);
}

.show-on-phones {
    @include visible(portrait-tablets);
    @include hidden(desktop);
}


